run-name: CI ${{ github.repository }}

on:
  push:
    branches-ignore:
        - 'ga-ignore-**'
  pull_request:
    branches-ignore:
        - 'ga-ignore-**'

env:
  MIRROR_URL: "git@github.com:EpitechPGE3-2025/G-CPP-500-NAN-5-2-rtype-5.git"

jobs:
  push_to_mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Push to mirror
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            ${{ env.MIRROR_URL }}
          ssh_private_key:
            ${{ secrets.ORG_DEPLOY_KEY }}